:root {
  --width: 280px;  /* глобально */
}

body {
    font-family: "Inter", sans-serif;
    background-color: #0B053D;
}
 a {
    text-decoration: none;
    color: #E5E4F0;

    transition: color 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #8a81eb;     
}
header {
    font-size: 25px;
    color: #F5F5F7;
    text-align: center;
}

nav {
    display: flex;
    color: #F5F5F7;
    gap: 20px;
    font-size: 22px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #E5E4F0;

    transition: color 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    color: #8a81eb;     
}

.top {
    
    background-color: rgba(0, 255, 133, 0.08);
    width: var(--width);
    height: 100px;
    border-style:solid;
    border-color: rgba(0, 255, 133, 0.3);
    border-radius: 8px;
}

p{
    
    color: #F0F0F0;
}
#main{
    display: flex;
    flex-wrap: wrap;   
    margin-top: 80px;
    gap: 30px;
    justify-content: center;
}

.top h4{
     color: #0cac5f; 
    font-size: 20px;
    margin: 4px 0 12px 0;
    text-align: center;
}

.top p{
    color: #F0F0F0;
    font-size: 18px;
    text-align: center;
    margin: 0; 
}
#supportka {
    --width: 310px;
    width: var(--width);
}

footer {
    font-size: 15px;
    
    padding: 40px 20px;
    border-top: 1px solid rgba(0,255,133,0.2);
    margin-top: 30px; 
    text-align: center;

}

#pricing {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center
}


.prices h3 {
color: #0cac5f; 
    font-size: 20px;
    margin: 4px 0 12px 0;
    text-align: center;
}



.prices p {
    text-align: center;
}

.prices li {
    margin: 3px 0 0 0;
    font-size: 18px;
    text-align: center;
    list-style: none;
    color: #F0F0F0;
}

.prices{
    width: 800px;
    height: 150px;
    border: #9f9bce solid 3px;
    gap: 14px;
    margin-bottom: 10px;
    border-radius: 18px;
    background-color:rgba(0, 255, 133, 0.08) ;
}

.badge {
    font-weight: bold;
    background-color: #ff9f43;
    padding: 2px 8px;
    border-radius: 12px;
}

.btn {
    width: 300px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background-color:rgb(83, 111, 235);
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
    text-decoration: none;
    background-color: #1d1574;
}